# Ch04_Working with Text, p. 65

Text is represented as a string, which is a sequence of characters (letters, digits, and symbols)
A value is a string by putting either single or double quotes around it.
Single and double quotes are equivalent.
For docstrings, the Python style guidelines say that double quotes are preferred.
The shortest string is the empty string, containing no characters at all.

In [1]:
# Two string examples:
# A string in single quote.
'Aristotle'

'Aristotle'

In [2]:
# A string a double quotes.
"Aristotle"

'Aristotle'

In [3]:
# The shortest string is the empty string, containing no characters at all. 
''

''

In [4]:
""

''

### Operations on Strings, p. 66

In [5]:
# len() returns the number of characters 
len('Albert  Einstein')  # len: length

16

In [6]:
len('123!')

4

In [7]:
len(' ')

1

In [1]:
len('       ')

7

In [8]:
len(" ")

1

In [9]:
len('')

0

In [1]:
""

''

###### Concatenation operator (+): we can add two strings using the + operator, p. 66

In [11]:
'Albert' + ' Einstein'

'Albert Einstein'

In [12]:
'Albert' + 'Einstein'

'AlbertEinstein'

###### When + has two string operands, it is referred to as the concatenation operator, p. 66

In [13]:
"Alan Turing" + ''

'Alan Turing'

In [14]:
"" + 'Grace Hopper'

'Grace Hopper'

###### We cannot concatenate str data type with numeric data type, p. 67

In [2]:
# Python expects both are str data type
'NH' + 3

TypeError: can only concatenate str (not "int") to str

In [4]:
# Python expects both are numeric data type
9 + ' planets'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
# Valid: adding strings together
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

###### Both functions int() and float() can be applied to a string, p. 67

In [18]:
int('0')

0

In [19]:
int("11")

11

In [20]:
int('-324')

-324

In [21]:
float('-324')

-324.0

In [3]:
float("56.34")

56.34

In [4]:
int("You")

ValueError: invalid literal for int() with base 10: 'You'

###### Error: getting an integer or a floating-point representation of a string, p. 67

In [7]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [8]:
float('b')

ValueError: could not convert string to float: 'b'

###### In addition to +, len(), int(), and float(), operator * can be applied to strings, p. 68
+ A string can be repeated using operator * and an integer

In [25]:
'AT' * 5

'ATATATATAT'

In [26]:
4 * '-'

'----'

###### If the integer is less than or equal to zero, the operator yields the empty string:

In [27]:
'GC' * 0

''

In [28]:
'TATATATA' * -3

''

###### Strings are values, which can be assigned to a varaible. Also, operations on strings can be applied to those variables, p. 68

In [11]:
sequence = 'ATTGTCCCCC'
len(sequence)

10

In [13]:
new_sequence = sequence + 'GGCCTCCTGC'
new_sequence

'ATTGTCCCCCGGCCTCCTGC'

In [31]:
new_sequence * 2

'ATTGTCCCCCGGCCTCCTGCATTGTCCCCCGGCCTCCTGC'

### Using Special Characters in Strings, p. 68

###### SyntaxError

In [16]:
'that's not going to work'

SyntaxError: invalid syntax (<ipython-input-16-df08b804f864>, line 1)

###### Correct Syntax

In [33]:
'that"s not going to work'

'that"s not going to work'

In [17]:
"that's not going to work"

"that's not going to work"

###### Putting both kinds of quote in one string, p. 69
1. The backslash \ is called an **escape character**.
2. **\\'**: called an **escape sequence**. 
    + Escape sequence (**\\'**) indicates that we’re “escaping” from Python’s usual syntax rules for a moment. When Python sees a backslash inside a string, it means that the next character represents something that Python normally uses for other purposes, such as marking the end of a string.

In [6]:
'it\'s'

"it's"

In [9]:
# a string
'string'

'string'

In [7]:
# a string
"'"

"'"

In [20]:
# invalid
"She said, That's hard to read."

"She said, That's hard to read."

In [12]:
# valid: 3 parts concatenated together
'She said, "That'  "  '  "  's hard to read."'

'She said, "That  \'  s hard to read."'

In [8]:
# part 1
"She said, 'That"

"She said, 'That"

In [14]:
# part 2
"  '  "

"  '  "

In [16]:
# part 3
's hard to read."'

's hard to read."'

In [22]:
# valid
"That' + " +  " + s hard to read."

"That' +  + 's hard to read."

In [22]:
# valid
print('She said, "That' + "'" + 's hard to read."')

She said, "That's hard to read."

In [21]:
"'"

"'"

###### The escape sequence \\' is indicated using two symbols, but those two symbols represent a single character

In [3]:
print('\'')

'

In [36]:
len('\'')

1

In [37]:
len('it\'s')

4

In [18]:
# escape sequence
print('it\'s')

it's

Table 4—Escape Sequences

Escape Sequence    Description

    \'             Single quote

    \"             Double quote

    \\             Backslash 

    \t             Tab

    \n             Newline Carriage

    \r             return (enter)

In [26]:
# \' Single quote
print("The Latin \''Oryctolagus cuniculus' means 'domestic rabbit'.")

The Latin ''Oryctolagus cuniculus' means 'domestic rabbit'.

In [25]:
# \" Double quote
print("The Latin \"'Oryctolagus cuniculus' means 'domestic rabbit'.")

The Latin "'Oryctolagus cuniculus' means 'domestic rabbit'.

In [28]:
# \\ Backslash 
print("The Latin \\'Oryctolagus cuniculus' means 'domestic rabbit'.")

The Latin \'Oryctolagus cuniculus' means 'domestic rabbit'.

In [22]:
# \t Tab
print("The Latin \t'Oryctolagus cuniculus' means 'domestic rabbit'.")

The Latin 	'Oryctolagus cuniculus' means 'domestic rabbit'.

In [1]:
# \n Newline
print("The Latin \r'Oryctolagus cuniculus' means 'domestic rabbit'.")

'Oryctolagus cuniculus' means 'domestic rabbit'.

### Creating a Multiline String, p. 70

###### 1. If you create a string using single or double quotes, the whole string must fit onto a single line.

In [26]:
'one'

'one'

In [2]:
print('one\
')

one

###### 2. To span multiple lines, put three single quotes or three double quotes around the string instead of one.

In [32]:
# Method 1. Three single quotes for spanning multiple lines
'''one
two
three'''

'one\ntwo\nthree'

In [40]:
# Method 2. Three double quotes for spanning multiple lines
"""one
two
three"""

'one\ntwo\nthree'

In [33]:
'''Should you want a string 
that crosses multiple lines, 
Use matched triple quotes.'''

'Should you want a string \nthat crosses multiple lines, \nUse matched triple quotes.'

### Printing Information, p. 70
+  The built-in function **print()** is used to print values to the screen.

In [35]:
print(1 + 1)

2

In [43]:
print("The Latin 'Oryctolagus cuniculus' means 'domestic rabbit'.")

The Latin 'Oryctolagus cuniculus' means 'domestic rabbit'.

###### When Python prints a string, any escape sequences are converted to a form that humans expect

In [44]:
print('one\ttwo\nthree\tfour')

one	two
three	four

######  The character \n indicates a new line in multiline strings

In [3]:
numbers = '''one
two
three'''

print(numbers)

one
two
three

###### When a multiline string is printed, those \n sequences are displayed as new lines

In [38]:
print(numbers)

one
two
three

###### Function print() takes a comma-separated list of values and prints the values with a single space between them and a newline after the last value

In [21]:
print(1, 2, 3)

1 2 3

In [24]:
print('She said, "That'         + "'"      + 's hard to read."') 
print('She said, "That            \'          s hard to read."')

She said, "That's hard to read."
She said, "That            '          s hard to read."

###### With no arguments, function print() ends the current line, advancing to the next one

In [25]:
print()

###### Function print can even print values of different types in the same function call

In [49]:
print(1, 'two', 'three', 4.0)

1 two three 4.0

###### It's possible to call print with an expression as an argument

In [50]:
radius  = 5
print("The diameter of the circle is", radius * 2, "cm.")

The diameter of the circle is 10 cm.

In [43]:
print('*' * 20)

********************

###### Help documentation for print function

###### Default parameter values: The parameters sep, end, file, and flush in the documentation of print function have assignment statements in the function header

In [53]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [54]:
?print

###### Keyword argument (kwargs): assigning a value other than default value to a parameter name in the function call

In [55]:
print('a', 'b', 'c')              # The separator is a space by default
print('a', 'b', 'c', sep=', ')    # keyword arguments by supplying values different to default value

a b c
a, b, c

In [56]:
print('a', 'b', 'c')

a b c

###### Keyword argument (kwargs)
+ end=

In [28]:
?print

In [57]:
print('a', 'b', 'c', sep=', ', end='')

a, b, c

In [47]:
def convert_to_celsius(fahrenheit: float) -> float:
    """ Return the number of Celsius degrees equivalent to fahrenheit degrees.

    >>>     convert_to_celsius(75) 23.88888888888889
    """

    return (fahrenheit - 32.0) * 5.0 / 9.0

print('80, 78.8, and 10.4 degrees Fahrenheit are equal to ', end='') 
print(convert_to_celsius(80), end=',   \n') 
print(convert_to_celsius(78.8), end=', and ') 
print(convert_to_celsius(10.4), end='   Celsius.\n\n')

80, 78.8, and 10.4 degrees Fahrenheit are equal to 26.666666666666668,
26.0, and -12.0   Celsius.

### Getting Information from the Keyboard

###### built-in function input
1. it reads a single line of text **from the keyboard**
2. It returns whatever the user enters as a **string**, even if it looks like a number
3. If you are expecting the user **to enter a number**, you must **use int or float**

###### 1. input built-in function reads a single line of text from the keyboard

In [29]:
species = input() 
type(species)

30

str

In [30]:
population = input()

20

###### 2. It returns whatever the user enters as a string, even if it looks like a number

In [31]:
population

'20'

In [32]:
type(population)

str

###### 3. If you are expecting the user to enter a number, you must use int or float

In [2]:
population  =  input() 
type(population)

10

str

In [3]:
population  =  int(input())
type(population)

20

int

In [4]:
population  =  population  +  1
population

21

###### Built-in function input() can be given a string argument, which is used to prompt the user for input

In [59]:
species = input("Please enter a species: ")
print(species)

Please enter a species: dog
dog

## The End!