### concatenating()  
* 默認為outer

pandas處理多組數據的時候往往會要用到數據的合併處理,使用 concat是一種基本的合併方式.而且concat中有很多參數可以調整,合併成你想要的數據形式.

1. axis (合併方向):
<br>axis=0是預設值，因此未設定任何參數時，函數默認axis=0。
<br>axis=0:上下合併
<br>axis=1:左右合併

2. ignore_index (重置 index)

In [1]:
import numpy as np
import pandas as pd

In [6]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['A','B','C','D'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['A','B','C','D'])
df3 = pd.DataFrame(np.ones((3,4))*2, columns=['A','B','C','D'])

In [8]:
pd.concat([df1, df2, df3], axis=0, ignore_index=True)

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

### join (合併方式)
join='outer'為預設值，因此未設定任何參數時，函數默認join='outer'。此方式是依照column來做縱向合併，有相同的column上下合併在一起，其他獨自的column個自成列，原本沒有值的位置皆以NaN填充。
* outer
* inner

In [11]:
df1 = pd.DataFrame(np.ones((3,4)), index=[1,2,3], columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*2, index=[2,3,4], columns=['b','c','d','e'])

In [15]:
res = pd.concat([df1,df2], join='inner',ignore_index=True)
print(res)

     b    c    d
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0
3  2.0  2.0  2.0
4  2.0  2.0  2.0
5  2.0  2.0  2.0

### 被轉換DataFrame.reindex()

* index=df1.index
* columns = df1.columns

In [18]:
df1 = pd.DataFrame(np.ones((3,4)), index=[1,2,3], columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*2, index=[2,3,4], columns=['b','c','d','e'])

In [37]:
res=pd.concat([df1,df2.reindex(columns=df1.columns)])
print(res)

     a    b    c    d
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
2  NaN  2.0  2.0  2.0
3  NaN  2.0  2.0  2.0
4  NaN  2.0  2.0  2.0

In [47]:
print(pd.concat([df1,df2.reindex(columns=df1.columns)]))
print('-'*15,'next','-'*15)
print(pd.concat([df1,df2.reindex(index=df1.index)],axis=1))

     a    b    c    d
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
2  NaN  2.0  2.0  2.0
3  NaN  2.0  2.0  2.0
4  NaN  2.0  2.0  2.0
--------------- next ---------------
     a    b    c    d    b    c    d    e
1  1.0  1.0  1.0  1.0  NaN  NaN  NaN  NaN
2  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
3  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0

### append (添加數據)
append只有上下合併，沒有橫向合併

In [48]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['A','B','C','D'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['A','B','C','D'])
df3 = pd.DataFrame(np.ones((3,4))*2, columns=['A','B','C','D'])

In [50]:
res = df1.append(df2, ignore_index=True)
print(res)

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0

In [51]:
res = df1.append([df2,df3], ignore_index=True)
print(res)

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

#### 合併series，將s1合併至df1，以及重置index，並打印出結果

In [52]:
s1 = pd.Series([1,2,3,4], index=['A','B','C','D'])

res = df1.append(s1, ignore_index=True)
print(res)

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  2.0  3.0  4.0