In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_grade = pd.DataFrame(np.random.randn(5,3), 
                 index = range(1,6),
                    columns= ['Chinese','Math','English'])

In [20]:
df_grade.loc[3:,['Chinese','Math']]

    Chinese      Math
3  1.493177 -0.645956
4  0.176455 -0.331038
5  0.695190 -0.439702

In [24]:
df_grade.loc[df_grade.Chinese > 0,'Math'] = 0
df_grade

    Chinese      Math   English
1 -0.020544  0.866173  0.028942
2 -0.756686 -1.319431 -0.629525
3  1.493177  0.000000  0.692083
4  0.176455  0.000000 -0.426305
5  0.695190  0.000000 -1.583275